[submodule "src/demo/assets/irma_configuration"]
	path = src/demo/assets/irma_configuration
	url = https://github.com/credentials/irma_configuration.git
	branch = demo
[submodule "src/pilot/irma_configuration"]
	path = src/pilot/irma_configuration
	url = https://github.com/credentials/irma_configuration.git
	branch = pilot
